{% extends 'admin.html.twig' %}

    {% block content %}
        <div id="page-wrapper" >
                            <div id="page-inner">
                                <body>




<div class="row tab">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading ">
                My requests
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover " id="dataTables-example">

                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                            <th>Bio</th>
                            <th></th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for p in prov %}
                            {% if  p.phone != null %}
                            <tr class="odd gradeX">
                                <td>{{ p.first_name }}</td>
                                <td>{{ p.last_name }}</td>
                                <td>{{ p.phone }}</td>
                                <td>{{ p.bio }}</td>
                                    <td><a href="{{ path('admin_confirmProvider',{'id':p.id}) }}"><button class="btn btn-success btn-lg  "  > <span class="glyphicon glyphicon-ok-sign" ></span> Confirm</button></a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>







                <script src="{{ asset('Admin/js/jquery-1.10.2.js') }}"></script>
                <!-- BOOTSTRAP SCRIPTS -->
                <script src="{{ asset('Admin/js/bootstrap.min.js') }}"></script>
                <!-- METISMENU SCRIPTS -->
                <script src="{{ asset('Admin/js/jquery.metisMenu.js') }}"></script>
                <!-- DATA TABLE SCRIPTS -->
                <script src="{{ asset('Admin/js/dataTables/jquery.dataTables.js') }}"></script>
                <script src="{{ asset('Admin/js/dataTables/dataTables.bootstrap.js') }}"></script>
                <script>
                    $(document).ready(function () {
                        $('#dataTables-example').dataTable();
                    });
                </script>

                <!-- CUSTOM SCRIPTS -->
                <script src="{{ asset('Admin/js/custom.js') }}"></script>

                </body>
            </div></div>
    {% endblock %}

